.box-list{
    display: flex;
    .box-nhacnho{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-ketquahoctap{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-lichhoctuan{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-lichtheotiendo{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-chuongtrinhkhhung{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-dangkyhocphan{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-tracuucongnu{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-thanhtoantructuyen{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-thanhtoannoitru{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-phieuthutonghop{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
    .box-hopthusinhvien{
        width: 90px;
        height: 120px;
        background-color:#ffffff;
        border-radius:4px;
    }
}