.box-footer{
    display: flex;
    margin-top: 440px;
    margin-left: -1230px;
    .box-bangdiem{
        width: 495px;
        height: 366px;
        background-color: #fff;
        margin-left: 20px;
    }
    .box-tiendohoctap{
        width: 290px;
        height: 366px;
        background-color: #fff;
        margin-left: 20px;

    }
    .box-lophocphan{
        width: 385px;
        height: 366px;
        background-color: #fff;
        margin-left: 20px;

    }
}